body {
  max-width: 780px;
  background: #fafafa;
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Helvetica",
    "Arial", system-ui, sans-serif;
}

svg {
  width: 200px;
  display: block;
  margin: auto;
}

#logo {
  width: 400px;
}

#logo > h1 {
  font-size: 3em;
  font-weight: 800;
  margin-top: 60px;
  margin-bottom: 0;
}

#logo > h4 {
  font-size: 1em;
  font-weight: 400;
  margin-top: 0;
}

h5 {
  font-size: 1.1em;
  font-weight: 500;
  text-align: left;
  margin-bottom: 6px;
}

a {
  color: black;
  text-decoration: underline;
}

.warning {
  font-weight: 600;
}

#container {
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap-reverse;
  justify-content: space-between;
}

#controlContainer {
  width: 380px;
  justify-content: flex-end;
}

#clockText {
  width: 50%;
  padding-top: 20px;
  margin: 0 auto;
  text-align: center;
  font-size: 0.9em;
}

#timeText {
  font-weight: 500;
}

#mainText {
  padding: 5px 5px 50px;
  width: 380px;
  margin-top: 10px;
  text-align: justify;
  hyphens: auto;
  line-height: 1.25;
}

#clockImg {
  width: 200px;
  display: block;
  margin: auto;
}

.blackButton {
  color: #fafafa;
  font-size: 0.9em;
  background: #111111;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: block;
  text-align: center;
  width: 160px;
  margin-top: 16px;
  margin-left: auto;
  margin-right: auto;
}

.blackButton:hover {
  background: #222222;
  text-decoration: none;
}

@media (max-width: 779px) {
  #container {
    padding-left: 10px;
    padding-right: 10px;
  }

  #controlContainer {
    width: 100%;
  }

  #mainText {
    width: 100%;
  }

  #logo {
    padding-left: 10px;
    margin-top: 15px;
  }

  #logo > h1,
  h4 {
    margin-top: 10px;
  }
}
